* {
    margin: 0 auto;
}

body {
    background-color: grey;
}

.flex-container {
    display: flex;
    background-color: rgb(72, 74, 207);
}

/* navbar section */

.logo {
    display: flex;
    background-color: lightblue;
    padding: 0 20px 0 48px;
    justify-content: flex-start;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 45px;
}

.menu {
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;

}

.submenu {
    display: flex;
}

ul {
    text-decoration: none;
    list-style: none;
}

.menu-mobile {
    display: none;
    visibility: hidden;
}

a {
    color: black;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

li {
    padding-right: 40px;
}

/* hero section */

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url("/assets/images/hero-bg.jpg");
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    color: salmon;
    text-align: center;
    top: 50%;
    left: 75%;
    position: absolute;
}

/* about me section */

.about-container {
    display: flex;
    flex-direction: row;
}


@media only screen and (max-width: 895px) {
    .logo {
        font-size: 35px;
    }

    .menu {
        font-size: 18px;
    }
}


/* when in mobile view */

@media only screen and (max-width: 768px) {

    .flex-container {
        display: block;
    }

    .logo {
        display: flex;
        justify-content: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 50px;
    }

    .menu {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;

    }

    .menu-mobile {
        display: block;
        visibility: visible;
    }

    input,
    ul.submenu {
        display: none;
        list-style: none;
        text-decoration: none;
    }

    /*position the label*/
    label {
        position: relative;
        display: block;
        cursor: pointer;
    }

    /*show the submenu when input is checked*/
    input:checked~ul.submenu {
        display: block;
    }

    .about-container {
        display: flex;
        flex-direction: column;
    }

}